services:
  airflow:
    build: .
    container_name: airflow
    # Utilisons 8080 pour simplifier, ou gardez 8081 si 8080 est pris
    ports:
      - "8081:8080" 
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - ./models:/opt/airflow/models
      # On ne mappe PAS tout le dossier racine pour éviter de synchroniser 
      # la base de données SQLite (airflow.db) qui cause des lenteurs sur Windows
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
    command: standalone